@charset "utf-8";
/* 절대로 위의 줄은 1번 줄에 배치 */
/* 글꼴 import 진행 */
@import url("./font/font.css");
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    border: 0;
    vertical-align: middle; /*텍스트랑 이미지를 줄맞춤*/
}
html {
    font: 16px; /*px rem 쓰기*/
}
body {
    font-family: "Poppins", "Pretendard", sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1;/*font-size x 1*/
    letter-spacing: 0;
    word-break: keep-all;
    height: 5000px;
}
/* 공통요소 : 2번 이상 재활용 코드 */
.inner {
    position: relative;
    display: block;
    /* 반응형이므로 */
    max-width: 1420px; /*max-width보다 작으면 100%로 작동*/
    width: 100%;
    margin: 0 auto;/*가운데 정렬*/
}
/* 레이아웃 */
.wrap {
    position: relative;
    display: block;
}
/* 상단 */
.header {
    /* 메뉴가 상단에 고정해서 스크롤 된다면 fixed, 같이 스크롤될거면 absolute */
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    /* header는 무조건 z-index 최대값 쓰자 */
    z-index: 9999;
    background: rgba(255, 255, 255, 0);
    transition: height 0.5s, background 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header .inner {
    max-width: 100%;
    height: 100%;
    z-index: 9;
}
/* 
    left, top, right, bottom 사용 시
    반드시 absolute 사용하기
*/
.logo {
    position: fixed;
    top: 35px;
    left: 60px;
    /* a, span 등등 기본 inline. 너비, 높이, 마진, 패딩값을 가질 수 없음. => 최소 inline-block이 되야함. */
    display: inline-block;
    width: 125px;
    height: 30px;
    background: url("../images/logo_white.png") no-repeat center;
    background-size: cover;
    transition: top 0.5s, background 0.5s;
}
.nav {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
}
.gnb {
    display: flex;
    height: 100%;
    /* 세로 중앙정렬 */
    align-items: center;
}
/* 주의사항 : 만약 서브 메뉴가 있다면 gnb > li로 가야함 */
.gnb li a {
    display: block;
    font-size: 17px;
    /* font-weight basic 400 */
    font-weight: 500;
    color: #fff;
    /* 왜 padding인가 = a 태그 영역 확대 */
    padding: 40px 34px;
}
.gnb li a span {
    position: relative;
    display: block;
    padding-bottom: 7px;
}
.gnb li a span::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.5s;
}
.gnb li a:hover span::after {
    width: 100%;
}
/* js에서는 display none이면 선택이 안 될 때가 있다. opacity는 작동은 함 */
.mb-bt {
    position: absolute;
    right: -20000px; /*display도 opacity도 애매할때*/
    top: 24px;
    width: 30px;
    height: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.mb-bt span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #222;
}
/* 모바일 메뉴 */
.mb-nav {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-top: 90px;
    transition: left 0.5s ease-in-out;
}
.mb-nav-gnb li {
    border-bottom: 1px solid #e5e5e5;
}
.mb-nav-gnb li a {
    display: block;
    padding: 20px 70px 20px 40px;
    font-size: 24px;
}
/* 스크롤 시 css 적용 */
.header.active {
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
}
.header.active .nav {
    height: 80px;
}
.header .logo.active {
    background: url("../images/logo.png") no-repeat center;
    background-size: cover;
    top: 25px;
}
.header .logo.active-blue {
    background: url("../images/logo.png") no-repeat center;
    background-size: cover;
}
.gnb li a.active {
    color: #222;
}
/* 모바일 버튼 애니메이션 */
.mb-bt span:nth-child(1){
    top: 0;
    transition: transform 0.3s;
}
.mb-bt span:nth-child(2){
    top: calc(50% - 1px);
    transition: opacity 0.15s;
}
.mb-bt span:nth-child(3){
    bottom: 0;
    transition: transform 0.3s;
}
.mb-bt.active span:nth-child(1){
    transform: rotate(45deg);
    top: calc(50% - 1px);
}
.mb-bt.active span:nth-child(2){
    opacity: 0;
}
.mb-bt.active span:nth-child(3){
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
}
/* 모바일 메뉴 애니메이션 */
.mb-nav.active {
    left: 0;
}
/* 숫자가 증가하는 형태는 모바일부터 시작하려고 */
/* 숫자가 감소하는 형태는 데스크탑부터 시작하려고 */
@media screen and (max-width: 1280px){
    .header {
        height: 90px;
    }
    .logo {
        top: 30px;
        left: 20px;
        width: 150px;
        height: 30px;
    }
    .gnb li a {
        padding: 25px 35px;
    }
}
@media screen and (max-width: 1080px) {
    .header {
        height: 70px;
    }
    .logo {
        top: 20px;
        width: 120px;
        height: 30px;
    }
    .gnb {
        display: none;
    }
    .mb-bt {
        right: 20px;
    }
}
/* 비주얼 */
.visual {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background: url("../images/main_visual_1.jpg") no-repeat center;
    background-size: cover;
}
/* 서비스 */
.servcie {
    position: relative;
    display: block;
}
/* 정보 */
.info {
    position: relative;
    display: block;
}
/* 서비스카테고리 */
.category {
    position: relative;
    display: block;
}
/* 푸터 */
.footer {
    position: relative;
    display: block;
}